{
    "printWidth": 180,
    "singleQuote": false,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "jsxBracketSameLine": true,
    "singleAttributePerLine": false,
    "parser": "typescript",
    "semi": false
}
